<!DOCTYPE html>

<html>

<head>
    <title>CV Playground</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<div id="container">
    <div id="header">
        <h1>Computer Vision Playground</h1>
    </div>

    <div id="body">
        <img src="{{ url_for('webcam') }}">
        <!-- <h1>{{ url_for('webcam') }}</h1> -->
        <div class="checkbox">
            <label>
                <input type="checkbox" name="check" value="edit"> Check for faces
            </label>
        </div>
    </div>

    <div id="footer">
        <div>Created by <a href="https://github.com/Thomas9292/cvplayground" title="Thomas9292">Thomas9292</a>
        </div>

    </div>
</div>

</html>