<!DOCTYPE html>

<html>

<head>
    <title>CV Playground</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<div id="container">
    <div id="header">
        <h1>Computer Vision Playground</h1>
        <ul>
            <li><a href="{{ url_for('home_page')}}" title="Normal webcam">Webcam</a></li>
            <li><a href="{{ url_for('face_recognition_page')}}" title="Haarcascades opencv face detection">Face detection</a></li>
        </ul>
    </div>

    <div id="body">
        {% block content %}{% endblock %}
    </div>

    <div id="footer">
        <div>Created by <a href="https://github.com/Thomas9292/cvplayground" title="Thomas9292">Thomas9292</a>
        </div>

    </div>
</div>

</html>